.news {
  .first {
    padding-top: 18vh;
    min-height: calc(100vh - 170px);
    .filters {
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto;
      max-width: 600px;
      grid-template-areas:
              "alliance-title year-title"
              "alliance-filter year-filter";

      select {
        background-color: #fafafa;
        padding: 15px 50px 15px 21px;
        border: none;
        outline: none;
      }

      .alliance-title {
        grid-area: alliance-title;
      }
      .alliance-filter {
        grid-area: alliance-filter;
        width: 380px;
      }
      .year-title {
        grid-area: year-title;
      }
      .year-filter {
        grid-area: year-filter;
      }
    }
  }
}